
@{
    ViewBag.Title = "Index";
}
<center><h2>Готельно рестораний комплекс Covfort вітає вас </h2></center>

<div class="text_demoBlock">

    <base href="~/img/">
    <div id="captioned-gallery">
        <figure class="slider">
            <figure>
                <img src="Lobby-3.jpg" alt>

            </figure>
            <figure>
                <img src="unnamed.jpg" alt>

            </figure>
            <figure>
                <img src="IMG_6709.jpg" alt>

            </figure>
            <figure>
                <img src="1443949661_0.jpg" alt>

            </figure>
            <figure>
                <img src="Lobby-3.jpg" alt>

            </figure>
        </figure>
    </div>
    <span class="textocnova">

        <p>Covfrt-це не просто слово це наша гарантія того що ваш відпочинок пройде на космічному рівні і ви неодміно захочете відвідати наший комплес ще і ще.</p>
        Що нас відрізяняє від інших те що ми теж відпочиваєм з вами а не працюєм. Привітний персонал вас зустріне у буть яку пору року і дня, розмістить в найкращих номерах
        Європи. І виконає буть які ваші примхи.
        <p>На нашій базі є декілька басейнів, СПА, спортзал,різні ресторани,WI-FI у буть якому куточку бази,та інші різноманітні речі для того щоб вам небуло сумно. </p>
        <p>З тереторії ношої бази відпочинку ми можим реалізувати  незабутні екскурсії в найкращі місця.</p> Наш готельно рестораний комплекс COMFORT передбачає те
        що ви будете з маленькими дітьми тому в нас є для них різні цікаві програми де вони точно не заскучають.  Профеційні аніматори недать сувувати вашим малюкам.

    </span>
</div>
