@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

<span class="clovaHeader3">
    
    @Html.AntiForgeryToken()
    @Html.ActionLink("Доброго дня, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
</span>
    <span class="clovaHeader3">
        <a href="javascript:document.getElementById('logoutForm').submit()">Вийти </a>
    </span>
    }
}
else
{
    @*<nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav">
            <li><a href="#">Link</a></li>*@
<span class="clovaHeader3">
    <font color=" Snow">
          @Html.ActionLink("Регістрація", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </font>
    </span>
<span class="clovaHeader3">
    @Html.ActionLink("Виконати вхід", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })  </span>
    @*</nav>*@
    }
